<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <style>

        .container{
        display:flex;
        width:800px;
        margin:auto;
        }

        .box{
        width:50%;
        padding:20px;
        border:1px solid gray;
        }

    </style>
</head>
<body>

<div class="container">

    <!-- LOGIN -->
    <div class="box">

        <h2>Login</h2>

        <form action="/login" method="post">

            <label>Username</label>
            <input type="text" name="username">

            <br><br>

            <label>Password</label>
            <input type="password" name="password">

            <br><br>

            <button type="submit">Login</button>

        </form>

    </div>

    <!-- REGISTER -->
    <div class="box">

        <h2>Register</h2>

        <form th:action="@{/register}" th:object="${user}" method="post">

            <label>Username</label>
            <input type="text" th:field="*{username}">

            <br><br>

            <label>Password</label>
            <input type="password" th:field="*{password}">

            <br><br>

            <label>
                <input type="checkbox" name="admin">
                Register as Admin
            </label>

            <br><br>

            <button type="submit">Register</button>

        </form>

    </div>

</div>

</body>
</html>